
GATEWAY_WS_ADDR=:8080
GATEWAY_GRPC_ADDR=:50051
GATEWAY_HTTP_ADDR=:9090

KAFKA_BROKERS=10.12.58.42:9092 
KAFKA_PLAYLOG_TOPIC=play_logs

# REDIS_ADDR=redis:6379
REDIS_ADDR=10.12.58.42:6379
REDIS_PASSWORD=123456

CALLBACK_URL=http://10.12.58.85:8000/callback

LOG_LEVEL=info
ENVIRONMENT=development